@{
    Layout = "_Layout";
}

<h2>Login</h2>

<form>
    <label>Email:</label>
    <input type="email" class="form-control" placeholder="Email" />

    <label>Password:</label>
    <input type="password" class="form-control" placeholder="Password" />

    <button type="submit" class="btn">Login</button>
</form>
