@{
    Layout = "_Layout";
}

<h2>Sign Up</h2>

<form>
    <label>Name:</label>
    <input type="text" class="form-control" placeholder="Name" />

    <label>Surname:</label>
    <input type="text" class="form-control" placeholder="Surname" />

    <label>Email:</label>
    <input type="email" class="form-control" placeholder="Email" />

    <label>Password:</label>
    <input type="password" class="form-control" placeholder="Password" />

    <button type="submit" class="btn">Sign Up</button>
</form>
