@model User

<h2>Sign Up</h2>

<form asp-action="SignUp">
    <label>Name:</label>
    <input asp-for="Name" class="form-control" />

    <label>Surname:</label>
    <input asp-for="Surname" class="form-control" />

    <label>Email:</label>
    <input asp-for="Email" class="form-control" type="email" />

    <label>Password:</label>
    <input asp-for="Password" class="form-control" type="password" />

    <label>Academic ID:</label>
    <input asp-for="AcademicId" class="form-control" />

    <label>Role:</label>
    <select asp-for="Role" class="form-control">
        <option value="">Select Role</option>
        <option value="Program Coordinator">Program Coordinator</option>
        <option value="Academic Manager">Academic Manager</option>
    </select>

    <button type="submit" class="btn">Sign Up</button>
</form>
